.red
{
  background-color: red;
}
.sceltamese
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:rgb(147, 165, 203) ;
  font-size: 2em;
}
.content
{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.grid-item
{
  padding: 20px;
  border: 2px solid black;
  display: inline-block;
}
.grid-item:hover
{
  background-color: pink;
}

.sceltamese .successivo
{
  cursor: pointer;
}
.sceltamese .precedente
{
  cursor: pointer;
}
.content{
  margin: 30px;
}